{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<div class="">
  <div class="items-center justify-between hidden py-2 font-medium shadow-md md:flex md:shadow-none">
      <div class="basis-1/4">
          <div class="text-[#2196F3] font-bold text-2xl py-2">
              <img src="https://tmath.vn/static/icons/logo.svg" alt="">
          </div>
      </div>
      
      <div class="items-center justify-center hidden gap-16 font-semibold basis-1/2 md:flex">
          <div class="">
              Home
          </div>
          <div class="">
              About
          </div>
          <div class="">
              Categories
          </div>
          <div class="">
              Classes
          </div>
      </div>
  </div>
  <div class="flex flex-col overflow-hidden md:hidden transition-[max-height] duration-300 ease-linear max-h-20" id='mobileNav'>
      <div class="flex items-center justify-between">
          <div class="basis-1/4">
              <div class="text-[#2196F3] font-bold text-2xl p-4">
                  <img src="https://tmath.vn/static/icons/logo.svg" alt="">
              </div>
          </div>
          <i class="block px-6 py-4 fas fa-bars fa-lg md:hidden" id="btn"></i>
      </div>
      <div class="flex flex-col [&>*]:px-4 [&>*]:py-2 divide-y">
          <div class="">
              Home
          </div>
          <div class="">
              About
          </div>
          <div class="">
              Categories
          </div>
          <div class="">
              Classes
          </div>
      </div>
  </div>
  <script>
    let mobile = document.querySelector('#mobileNav')
    let btn = document.querySelector('#btn')
    btn.addEventListener('click', function() {
        mobile.classList.toggle('max-h-20')
        mobile.classList.toggle('max-h-full')
    })
  </script>
  <div class="flex flex-col px-6 mt-10 md:flex-row">
      <div class="flex flex-col justify-between pb-10 md:basis-1/2">
          <div class="">
              <div class="mt-12 font-semibold md:mt-6 md:text-xl">Welcome to Tmath Education</div>
              <div class="font-bold md:text-6xl text-[2.625rem] mt-6 mb-2 md:leading-[5.5rem] leading-[3.875rem]">Investing in Knowledge and Your Future</div>
              <div class="text-[#999999] leading-8 md:mb-6 mb-12 font-semibold md:pr-40">With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</div>
          </div>
          <div class="flex items-stretch gap-4 mb-16">
              <a href="https://c.tmath.vn" class="font-semibold bg-[#2196F3] text-white py-3 rounded-xl text-center shadow-[1px_1px_10px_rgba(0,0,0,0.25)] min-w-[10rem] text-xl">
                  TCoding
              </a>

              <a href="https://e.tmath.vn" class="font-semibold bg-[#2196F3] text-white py-3 rounded-xl text-center shadow-[1px_1px_10px_rgba(0,0,0,0.25)] min-w-[10rem] text-xl">
                  Emath
              </a>
          </div>
      </div>

      <div class="relative grid grid-cols-2 gap-4 md:px-10 md:block md:flex-1 md:pb-6">
          <div class="relative flex justify-center col-span-2 mt-32 mb-20 text-center">
              <div class="bg-[#BBDEFB] rounded-[2.5rem] rotate-[5deg] w-[90%] aspect-square top-0 "></div>
              <div class="bg-[#64B5F6] rounded-[2.5rem] rotate-[-17deg] w-[90%] aspect-square top-0 absolute"></div>
              <img class="w-[70%] absolute top-[-26%]" src="{% static 'img/kid1.png'%}">
          </div>

          <div class="bg-white md:absolute md:w-56 left-0 bottom-0 md:-translate-y-24 md:-translate-x-8 shadow-[1px_1px_10px_rgba(0,0,0,0.25)] rounded-lg col-span-1 row-start-2 flex p-4 items-center justify-between">
              <div class="md:pl-4">
                  <div class="text-lg font-semibold leading-7">TCoding</div>
                  <div class="text-[#A4A4A4] font-semibold text-xs">10 Classes</div>
              </div>
              
              <img class="h-10 pr-2" src="{% static 'img/ana1.png'%}">

          </div>
          <div class="bg-white md:absolute md:top-0 md:right-0 md:translate-y-12 md:translate-x-8 md:w-52 shadow-[1px_1px_10px_rgba(0,0,0,0.25)] rounded-lg col-span-1 row-start-3 flex p-4 items-center justify-between">
              <div class="">
                  <div class="text-lg font-semibold leading-7">Emath</div>
                  <div class="text-[#A4A4A4] font-semibold text-xs">8 Classes</div>
              </div>
              
              <img class="h-10" src="{% static 'img/ana2.png'%}">
          </div>
          <div class="bg-white md:absolute md:top-1/2 md:translate-x-1/2 md:-translate-y-1/2 right-0 md:w-48 md:h-48 shadow-[1px_1px_10px_rgba(0,0,0,0.25)] rounded-lg row-span-2 row-start-2 col-start-2 p-3 flex flex-col">
              <div class="text-[#A4A4A4] text-[0.625rem]">Total students</div>
              
              <div class="mt-1 text-xl font-bold leading-7">1,023</div>

              <div class="grid grid-rows-[4fr_1fr] grid-cols-6 flex-1 gap-1.5 [&>*]:font-semibold [&>*]:text-xs">
                  <div class="col-start-1 bg-[#64B5F6] mt-10 rounded-[0.1875rem]"></div>

                  <div class="col-start-1 row-start-2 text-[#A4A4A4] text-center">
                      Oct
                  </div>

                  <div class="col-start-2 bg-[#64B5F6] mt-12 rounded-[0.1875rem]"></div>

                  <div class="col-start-2 row-start-2 text-[#A4A4A4] text-center">
                      Nov
                  </div>

                  <div class="col-start-3 bg-[#64B5F6] mt-8 rounded-[0.1875rem]"></div>

                  <div class="col-start-3 row-start-2 text-[#A4A4A4] text-center">
                      Dec
                  </div>

                  <div class="col-start-4 bg-[#64B5F6] mt-6 rounded-[0.1875rem]"></div>

                  <div class="col-start-4 row-start-2 text-[#A4A4A4] text-center">
                      Jan
                  </div>

                  <div class="col-start-5 bg-[#1565C0] rounded-[0.1875rem]"></div>

                  <div class="col-start-5 row-start-2 text-[#A4A4A4] text-center">
                      Feb
                  </div>

                  <div class="col-start-6 bg-[#64B5F6] mt-9 rounded-[0.1875rem]"></div>

                  <div class="col-start-6 row-start-2 text-[#A4A4A4] text-center">
                      Mar
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
{% endblock navbar %}

{% block about %}
<div class="flex flex-col items-center px-12 py-20 text-center md:px-0 md:mt-16 md:flex-row">
  <div class="md:flex-1 md:flex md:flex-col md:items-center md:justify-center">
      <img src="{% static 'img/emath2.p'%}ng" class="md:w-96 md:h-96">
  </div>
  
  <div class="flex flex-col items-stretch md:flex-1 md:block">
      <div class="text-[#1A88D1] w-60 mx-auto md:mx-0 md:text-3xl font-bold md:text-left text-2xl pb-4 leading-10 border-b-2 border-b-blue-700">
          GIỚI THIỆU VỀ TMATH CODING
      </div>

      <div class="mt-8 font-medium leading-7 text-gray-600/90 md:text-left md:text-xl md:pr-20">
          Sau một thời gian hoạt động trên nền tảng của ntucoder, chúng tôi đã xây dựng một nền tảng riêng dựa trên nền tảng của dmoj! Trang web sẽ là nơi đăng tải các đề thi, các chuỗi bài giảng, bài tập nhằm hỗ trợ cho các học viên của tmath có được kiến thức tốt nhất về lập trình thì đấu!
      </div>

      <div class="flex w-full my-7">
          <button class="bg-[#1A88D1] text-white font-semibold py-2 px-8 mx-auto md:mx-0 rounded-full w-fit">
              Explore Now
          </button>
      </div>
  </div>
</div>
{% endblock about %}

{% block statistic %}
<div class="flex flex-col items-center justify-center min-h-screen px-10 text-center md:px-20">
  <div class="text-[#1A88D1] text-3xl md:text-xl font-bold">
      TMATH CODING
  </div>
  <div class="md:text-3xl font-bold my-3 md:text-[#797979]">
      NƠI ƯƠM MẦM NHỮNG TÀI NĂNG TRẺ
  </div>

  <div class="flex flex-col mx-32 md:flex-row md:mx-0 md:justify-between">
      <div class="basis-1/5">
          <div class="text-[#1A88D1] text-6xl font-bold mt-16">
              10+
          </div>

          <div class="text-[#797979] mt-10">
              Đội ngũ giảng dạy chuyên nghiệp và dày dặn kinh nghiệm.
          </div>
      </div>

      <div class="basis-1/5">
          <div class="text-[#1A88D1] text-6xl font-bold mt-16">
              100+
          </div>

          <div class="text-[#797979] mt-10">
              Học viên đạt danh hiệu học sinh giỏi cấp tỉnh, quốc gia.
          </div>
      </div>

      <div class="basis-1/5">
          <div class="text-[#1A88D1] text-6xl font-bold mt-16">
              1000+
          </div>

          <div class="text-[#797979] mt-10">
              Bài tập tự luyện phù hợp với mọi cấp độ từ cơ bản đến nâng cao.
          </div>
      </div>
  </div>
</div>
{% endblock statistic %}

{% block courses %}
<div class="flex flex-col items-center justify-center min-h-screen px-10 mt-32 text-center">
  <div class="text-[#1A88D1] text-3xl font-semibold">
      COURSES
  </div>
  <div class="md:text-3xl font-semibold mt-3 mb-6 md:text-[#797979]">
      Các khóa học tại Tmath Coding
  </div>
  <div class="flex flex-col w-full px-2 swiper">
      <div class="swiper-wrapper" id="course">
          <div class="w-1/3 p-8 text-left shadow-md swiper-slide rounded-2xl">
              <div class="bg-gray-100 text-[#1A88D1] aspect-square rounded-2xl text-center flex justify-center">
                  <div class="text-[5rem] font-bold my-auto">
                      C++
                  </div>
              </div>

              <div class="my-4 font-semibold">
                  Khóa học lập trình thuật toán
              </div>
              <div class="flex items-center -mb-8">
                  <div class="text-sm font-semibold pt-2 text-[#A4a4a4] flex-1 self-start">
                      Dành cho khối THCS và THPT <br />
                      Hình thức: Online và Offline
                  </div>
                  <div class="bg-[#1A88D1] h-16 w-16 -mr-8 self-end rounded-tl-2xl rounded-br-2xl flex justify-center items-center">
                      <i class="text-white fas fa-lg fa-unlock-alt"></i>
                  </div>
              </div>
          </div>
          <div class="w-1/3 p-8 text-left shadow-md swiper-slide rounded-2xl">
              <div class="bg-gray-100 text-[#1A88D1] aspect-square rounded-2xl text-center flex justify-center">
                  <div class="my-auto text-6xl font-bold">
                      Python
                  </div>
              </div>

              <div class="my-4 font-semibold">
                  Khóa học lập trình thuật toán
              </div>
              <div class="flex items-center -mb-8">
                  <div class="text-sm font-semibold pt-2 text-[#A4a4a4] flex-1 self-start">
                      Dành cho khối THCS và THPT <br />
                      Hình thức: Online và Offline
                  </div>
                  <div class="bg-[#1A88D1] h-16 w-16 -mr-8 self-end rounded-tl-2xl rounded-br-2xl flex justify-center items-center">
                      <i class="text-white fas fa-lg fa-unlock-alt"></i>
                  </div>
              </div>
          </div>
          <div class="w-1/3 p-8 text-left shadow-md swiper-slide rounded-2xl">
              <div class="bg-gray-100 text-[#1A88D1] aspect-square rounded-2xl text-center flex justify-center">
                  <div class="my-auto text-6xl font-bold">
                      Scratch
                  </div>
              </div>

              <div class="my-4 font-semibold">
                  Khóa học lập trình thuật toán
              </div>
              <div class="flex items-center -mb-8">
                  <div class="text-sm font-semibold pt-2 text-[#A4a4a4] flex-1 self-start">
                      Dành cho khối THCS và THPT <br />
                      Hình thức: Online và Offline
                  </div>
                  <div class="bg-[#1A88D1] h-16 w-16 -mr-8 self-end rounded-tl-2xl rounded-br-2xl flex justify-center items-center">
                      <i class="text-white fas fa-lg fa-unlock-alt"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="mx-auto mt-10 pagination !translate-x-0"></div>
  </div>

  <script>
      const swiper = new Swiper('.swiper', {
          slidesPerView: 1,
          loop: true,
          pagination: {
              el: '.pagination',
              clickable: true,
              dynamicBullets: true,
          },
          autoplay: {
              delay: 2000,
              disableOnInteractive: false
          },
          spaceBetween: 15,
          breakpoints: {
              768: {
                  slidesPerView: 3,
                  spaceBetween: 40,
              }
          }
      })
  </script>
  
</div>
{% endblock courses %}

{% block footer %}
<div class="flex flex-col items-center min-h-screen px-10 my-20 text-center about md:flex-row md:min-h-screen md:px-24">
  <div class="md:flex-1 md:flex md:justify-center">
      <img src="{% static 'img/emath.png' %}" class="h-auto px-10 mb-6 md:w-1/2 md:mx-0 md:mb-0">
  </div>
  
  <div class="md:flex-1">
      <div class="text-[#1A88D1] md:text-xl text-2xl font-semibold md:text-left">
          Emath
      </div>
      <div class="mt-3 mb-6 font-semibold md:text-3xl md:my-3 md:text-left">
          Emath is comming soon
      </div>

      <div class="text-[#A4A4A4] mt-3 md:text-left md:text-lg">
          Emath là một ứng dụng học tiếng Anh được thiết kế để người dùng làm quen với tiếng Anh từ mức độ dễ đến khó. Phần mềm sẽ dạy cho bạn những từ vựng liên quan đến những chủ đề thông dụng thường ngày như học tập, khoa học, trường học,... bằng hình ảnh. Bên cạnh đó, bạn còn được làm bài tập giúp củng cố khả năng ghi nhớ từ vựng đã học.
      </div>

      <div class="flex justify-center gap-3 mt-10">
          <img src="{% static 'img/app1.png'%}" class="md:w-40 w-[45%]" />
          <img src="{% static 'img/app2.png'%}" class="md:w-40 w-[45%]" />
      </div>
  </div>
</div>
{% endblock footer %}